.project-container {
    width: 100%;
    position: relative;
    perspective: 750px;
    perspective-origin: 50% calc(50% - 200px);
}

.project-name {
    font-size: 2em;
    font-family: "alien", "Roboto", sans-serif;
    color: rgba(255, 245, 238, 0.885);
    text-shadow: -25px 0 10px rgba(255, 245, 238, 0.488), 25px 0 10px rgba(255, 245, 238, 0.488);
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.project-description {
    text-align:justify;
    width: 100%;
    font-family: "vcr", 'Roboto', sans-serif;
    font-size: 1.5em;
    color: rgb(207, 207, 207);
    text-shadow: 1px 2px black;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -28%);
    line-height: 1.5em;
    pointer-events: none;
}

.project-link-container {
    position: absolute;
    bottom: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-link-container > * {
    padding: 0 20px;
    font-family: "alien", "Roboto", sans-serif;
    font-size: 1.5em;
    color: rgb(255, 0, 144);
}

.project-link-container > *:hover {
    text-shadow: 0 0 8px rgb(255, 0, 144), 0 20px 30px rgb(255, 0, 144);
}

@media screen and (min-width: 750px) {
    .project-container {
        width: 60%;
        min-width: 700px;
        height: 750px !important;
    }
    .project-name {
        left: 20%;
        top: 80px;
        width: 50%;
        text-align: center;
    }
    .project-description {
        top: 330px;
    }
    .project-link-container {
        top: 140px;
        left: 0;
        width: 50%;
        justify-content: center;
    }
}